<div class="modal-backdrop" (click)="closeModal()"></div>

<div class="modal">
  <button class="close-btn" (click)="closeModal()">✖</button>
  <h2>{{ post ? 'Editar Post' : 'Crear Post' }}</h2>

  <form [formGroup]="postForm" (ngSubmit)="savePost()">
    <div class="form-group">
        <br>
      <label>Título</label>
      <input type="text" formControlName="title" />
    </div>

    <div class="form-group">
      <label>Contenido</label>
      <textarea formControlName="body" rows="6"></textarea>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="postForm.invalid">{{ post ? 'Actualizar' : 'Crear' }}</button>
    </div>
  </form>
</div>